/* Style Settings */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
    background: url('../bg.gif') repeat;
    background-color: #c2d9e5;
    -webkit-background-size: 300px 300px;
-moz-background-size: 300px 300px;
-o-background-size: 300px 300px;
background-size: 300px 300px;
  font-family: 'Roboto Slab', serif;
    font-weight: 600;
}

#userPhoto {
    display: block;
    margin: 10px auto;
    border-radius: 100%;
background-color: #FFF;
}

#userName {
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
      text-shadow: 1px 1px 3px #6a97b0;
}

#userName h1 {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    margin: 0 auto;
    text-decoration-style: bold;
}


#userName p {
    font-weight: 300;
    margin-top: 5px;
    text-transform: none;
        font-size: 1.3rem;
}

i.fa {
    margin-right: 0.3rem;
}

#links {
    max-width: 500px;
    width: auto;
    display: block;
    margin: 20px auto;
}

.link {
    font-family: 'Roboto Slab', serif;
    display: block;
    background-color: rgba(177, 206, 222, 0.80);
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    padding: 17px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border-radius: 10px;
    text-shadow: 1px 1px 1px #6a97b0;

}

.link:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #628ea5;
    border: none;
        text-shadow: 1px 2px 1px #FFFF;
}

/* Ocultar botón radio */
input[id^="spoiler"]{
display: none;
}
/* Estilo botón clicable */
input[id^="spoiler"] + label {
display: block;
margin: 5px auto;
padding: 17px;
border-radius: 10px;
background-color: rgba(177, 206, 222, 0.80);
color: #fff;
text-align: center;
text-decoration: none;
font-size: 1.2rem;
text-shadow: 1px 1px 1px #6a97b0;
max-width: 470px;
width: auto;
cursor: pointer;
transition: all .25s cubic-bezier(.08, .59, .29, .99);
}
/* Estilo botón cuando su INPUT está seleccionado */

input[id^="spoiler"]:checked + label {
    background-color: rgba(255, 255, 255, 0.3);
    color: #628ea5;
    border: none;
        text-shadow: 1px 2px 1px #FFFF;
}

/* Estilo caja SPOILER (inicialmente oculto) */
input[id^="spoiler"] ~ .spoiler {
width: 90%;
height: 0;
overflow: hidden;
opacity: 0;
margin: 10px auto 0;
}
/* Estilo caja SPOILER cuando su INPUT está seleccionado */
input[id^="spoiler"]:checked + label + .spoiler{
height: auto;
opacity: 1;
}
